@media screen and (min-width: 1000px) {

    #menu_chamber {
        display: none;
        /* hide hamburger button */
        padding: 10px;
        text-align: center;
        margin-top: -20px;
    }

    .chamber_navigation {
        flex-direction: row;
        margin-right: 50px;
    }

    .chamber_navigation li {
        display: block;
        flex: 1 1 100%;
    }

    /* -----------  HEADER  --------------- */

    :root {
        --main-color: #222B44;
        --background-card: #91a1c998;
        --hr: #BFC892;
        --second-color: #E4EDF1;
        --main-font: 'Ubuntu';
        --text-font: roboto;
    }

    header {
        display: grid;
        grid-template-columns: 2fr 1fr 3fr;
        background-color: var(--main-color);
        height: 120px;
    }

    h1 {
        display: none;
    }


    /* 477 × 151 */
    header img {
        grid-column: 1/2;
        height: 70px;
        width: 221px;
        margin-bottom: 0%;
    }

    header section {
        grid-column: 2/3;
    }

    header div {
        grid-column: 3/4;
    }

    .chamber_navigation {
        background-color: var(--main-color);
        margin-bottom: 0;
    }

    .chamber_navigation li a:hover {
        color: var(--hr);
    }

    /* HERO */

    #Join_btn {
        position: absolute;
        top: 70%;
        left: 20%;
        transform: translate(-50%, -50%);
        font-size: 60px;
        font-weight: 900;
    }

    #Join_btn a {
        font-size: 60px;
        padding-left: 15px;
        padding-right: 18px;
    }

    /* -----------  MAIN  --------------- */
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    #events {
        grid-column: 1/3;
    }

    #Weather_card {
        grid-column: 3/4;
    }

    #member_spot {
        grid-column: 1/4;
    }

    footer {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 2fr 10px 1fr;
        gap: 20px;
    }

    #logo_info_f {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #more_info {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    footer hr {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    #author_info {
        grid-row: 3/4;
        display: block;
        flex: 1 1 100%;
    }

    footer section {
        display: inline-flex;
        justify-content: center;
    }

    #author_grid {
        grid-column: 1/3;
        display: inline-flex;
        justify-content: center;
    }

    #author_grid section p {
        padding-right: 35px;
    }

    /* dark/light modes */
    #mode {
        position: absolute;
        top: 1.6rem;
        right: 1.5rem;
        font-size: 2rem;
        cursor: pointer;
    }


    /* DISCOVER PAGE */

    #dis-grid {
        grid-column: 1/2;
        padding-top: 1rem;
    }

    .dis-box {
        margin-top: 1rem;
    }

    #dis-images {
        grid-column: 2/4;
        padding-top: 1rem;
        padding-right: 4rem;
        padding-left: 4rem;
    }

    #calendar {
        width: auto;
    }

    #dis-images img:hover {
        box-shadow: 0 0 30px var(--hr);
        transform: scale(1.04);
    }


    /* reducir el tamañana el larger view por que usaremos el cursor del monitor en vez del dedo (phone view) */
    form label.sbs {
        padding: .4rem 0;
    }

    #benefitsBox {
        grid-column: 2/4;
        padding-top: 1rem;
        padding-left: 5rem;
        padding-right: 2rem;
        max-width: 80rem;
    }


    .membershipBox {
        margin: 3rem 4rem;
    }

    #thankyouM {
        grid-column: 1/4;
    }

    /* directory */

    #Directory_cards {
        grid-column: 1/4;
    }

    .grid {
        /* grid-column: 1/4; */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
        margin-left: -4%;
    }


    /* list */

    .Directory_menu {
        grid-column: 1/4;
        text-align: right;
    }

    .list section {
        grid-column: 1/4;
        margin-left: 2rem;
    }

    .list section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1.3fr;
        text-align: left;
    }
}