@media screen and (min-width: 600px) {

    header img {
        margin-top: 0;
    }

    #calendar {
        width: auto;
    }

    #Join_btn {
        position: absolute;
        font-size: 40px;
        font-weight: 900;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    }

    .grid {
        padding-right: 1rem;
        padding-left: 1rem;
        margin-left: -5%;
        margin-right: -5%;
    }

    .list section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1.3fr;
        text-align: left;
        width: 100%;
    }

    .Directory_menu {
        grid-column: 1/4;
        text-align: right;
    }
}