@media screen and (min-width: 600px) {

    header img {
        margin-top: 0;
    }

    #calendar {
        width: auto;
    }

    .img-title {
        margin-left: 5%;
        margin-right: 5%;
    }

    .hero_text {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .hero h1 {
        font-size: 40px;
        font-weight: 900;
        min-width: 300px;
    }

    #Join_btn {
        font-size: 40px;
        font-weight: 900;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .spotlights_cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    }

    .spotlights_cards section {
        width: 390px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    }

    .grid {
        padding-right: 1rem;
        padding-left: 1rem;
        margin-left: -5%;
        margin-right: -5%;
    }

    .list section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1.3fr;
        text-align: left;
        width: 100%;
    }

    .Directory_menu {
        grid-column: 1/4;
        text-align: right;
    }

    .banner {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .banner h3 {
        font-size: x-large;
    }

    .banner p {
        font-size: large;
    }
}