body {
    width: 90%;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
}

header {
    background-color: #325286;
    border-radius: 20px;
    margin-top: 10px;
}

header div {
    /* background-color: rgba(17, 56, 129, 0.727); */
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 1fr 3fr 2fr;
    align-items: center;
    justify-content: center;
    padding: 10px;
    padding-bottom: 15px;
}

header img {
    grid-column: 2/3;
    width: 90px;
    border-radius: 1%;
    padding: 20px;
    text-align: justify;
    margin-left: 40px;
}

h1 {
    text-align: left;
    font-size: 50px;
    padding-left: 30px;
    grid-column: 3/4;
    color: #ffffff;
    margin-top: auto;
    margin-bottom: auto;
}

/* nav */
nav {
    background-color: rgb(7, 42, 56);
    padding: 10px;
    text-align: center;
    margin-top: -20px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin: -10px;
    padding: 2%;
}

nav ul li {
    margin-top: 0px;
    padding: 8px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 19px;
}

nav ul li a:hover {
    color: #bae58cd7;
}

main {
    margin-left: 3%;
    margin-right: 3%;
}

/* h2 */
h2 {
    text-align: center;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-bottom-color: #325286;
    /* text-decoration: underline; */
}

/* cards */
.card {
    box-shadow: 4px 4px 10px #325286;
    border-radius: 10px;
}

.card h3 {
    background-color: #325286;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    margin-top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.card ul {
    padding-bottom: 9px;
}

/* footer */
footer {
    background-color: #325286;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    margin-top: 10px;

}

#firstParagraph {
    font-size: 14px;
    color: #ffffff;
}

#lastParagraph {
    font-size: 12px;
    color: #fbff00;
    margin-top: 5px;
}

#firstParagraph::after {
    /* content: url(); */
    content: "🦙";
}